##### Exercise 1 : Load and Explore a Sample Dataset

In [4]:
import pandas as pd 

url = url = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
df = pd.read_csv(url)

# explore data
# df.head()
# df.info()
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

##### Exercise 2 : Select Specific Columns and Filters Rows

In [11]:
selected_columns = df[["species", "sepal_length"]]
print("My Selected Columns : \n", selected_columns)

filtered_rows = df[(df["sepal_length"] > 5.5) & (df["species"] == "setosa")]
print("My Filtered Rows : \n", filtered_rows)

My Selected Columns :
        species  sepal_length
0       setosa           5.1
1       setosa           4.9
2       setosa           4.7
3       setosa           4.6
4       setosa           5.0
..         ...           ...
145  virginica           6.7
146  virginica           6.3
147  virginica           6.5
148  virginica           6.2
149  virginica           5.9

[150 rows x 2 columns]
My Filtered Rows :
     sepal_length  sepal_width  petal_length  petal_width species
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
18           5.7          3.8           1.7          0.3  setosa