##### Exercise 1 : Group Data by a Categorical Column

In [1]:
import pandas as pd

data = {
    "Class": ["A","B","A","B","C","C"],
    "Score": [85,90,88,72,95,80],
    "Age":   [15,16,15,17,16,15]
}

df = pd.DataFrame(data)
print("Data asli:\n", df)

# grouping
grouped = df.groupby("Class").mean()
print("\n Data Class & Mean :\n", grouped)

Data asli:
   Class  Score  Age
0     A     85   15
1     B     90   16
2     A     88   15
3     B     72   17
4     C     95   16
5     C     80   15

 Data Class & Mean :
        Score   Age
Class
A       86.5  15.0
B       81.0  16.5
C       87.5  15.5

##### Exercise 2 : Calculate Summary Statistics for Grouped Data

In [2]:
stats = df.groupby("Class").agg(
       {"Score" : ["mean", "max", "min"],
        "Age": ["mean", "max", "min"],
       }
)
print("Data : \n", stats)

Data :
       Score           Age
       mean max min  mean max min
Class
A      86.5  88  85  15.0  15  15
B      81.0  90  72  16.5  17  16
C      87.5  95  80  15.5  16  15

##### Exercise 1 : Drop Columns with More Than 50% missing values